production-sqlite:
  adapter: sqlite3
  database: db/alminium.sqlite3

production:
  adapter: mysql2
  database: {{dbname}}
  host: {{groups['database'][0]}}
  username: {{dbuser}}
  password: {{dbpasswd}}
  encoding: utf8
