<VirtualHost *:443>
ServerName {{ ansible_all_ipv4_addresses[0] }}
DocumentRoot /opt/alminium/public

SSLEngine on
SSLCertificateFile /etc/pki/tls/certs/localhost.crt
SSLCertificateKeyFile /etc/pki/tls/private/localhost.key

ExpiresActive On
ExpiresByType application/x-javascript A259200
ExpiresByType application/javascript A259200
ExpiresByType image/png A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/gif A2592000
ExpiresByType text/css A2592000

</VirtualHost>

<Directory /opt/alminium/public>
  Require all granted
</Directory>


Alias /plugin_assets /opt/alminium/public/plugin_assets
<Directory /opt/alminium/public/plugin_assets>
  Require all granted
  PassengerEnabled off
</Directory>

Alias /stylesheets /opt/alminium/public/stylesheets
<Directory /opt/alminium/public/stylesheets>
  Require all granted
  PassengerEnabled off
</Directory>

Alias /javascripts /opt/alminium/public/javascripts
<Directory /opt/alminium/public/javascritps>
  Require all granted
  PassengerEnabled off
</Directory>

Alias /images /opt/alminium/public/images
<Directory /opt/alminium/public/images>
  Require all granted
  PassengerEnabled off
</Directory>
