# Subversionの設定
PerlLoadModule Apache::Authn::Redmine
<Location /svn/>
    PerlAuthenHandler Apache::Authn::Redmine::authen_handler

    DAV svn
    SVNParentPath /var/opt/alminium/svn
    SVNListParentPath on
    AuthzSVNAccessFile /etc/opt/alminium/svnauthz

    AuthType Basic
    AuthName Subversion
    AuthUserFile /dev/null

# for Redmine Authentication
    RedmineDSN "DBI:mysql:database=alminium;host={{groups['database'][0]}}"
    RedmineDbUser "{{dbuser}}"
    RedmineDbPass "{{dbpasswd}}"

    Require valid-user
</Location>

# Gitの設定
SetEnv GIT_PROJECT_ROOT /var/opt/alminium/git
SetEnv GIT_HTTP_EXPORT_ALL
ScriptAlias /git/ /usr/libexec/git-core/git-http-backend/

<Location /git/>
    PerlAuthenHandler Apache::Authn::Redmine::authen_handler

    AuthType Basic
    AuthName Git
    AuthUserFile /dev/null

# for Redmine Authentication
    RedmineDSN "DBI:mysql:database=alminium;host={{groups['database'][0]}}"
    RedmineDbUser "{{dbuser}}"
    RedmineDbPass "{{dbpasswd}}"
    RedmineGitSmartHttp yes

    Require valid-user
</Location>

# DAVを使う場合
#Alias /git /var/opt/alminium/git
#<Location /git>
#    Options Indexes
#    DAV on
#    AuthType Basic
#    AuthName user

## for MySQL Authentication
#    AuthMYSQLEnable On
#    AuthMySQLHost localhost
#    AuthMySQLDB alminium
#    AuthMySQLUser alminium
#    AuthMySQLPassword alminium
#    AuthMySQLUserTable users
#    AuthMySQLNameField login
#    AuthMySQLPasswordField hashed_password
#    AuthMySQLPwEncryption sha1
#
#    Require valid-user
#</Location>

# Mercurialの設定
WSGISocketPrefix run/wsgi
WSGIScriptAlias /hg /etc/opt/alminium/hgweb.wsgi
<Location /hg/>
   PerlAccessHandler Apache::Authn::Redmine::access_handler
   PerlAuthenHandler Apache::Authn::Redmine::authen_handler

    WSGIApplicationGroup %{GLOBAL}
    AuthType Basic
    AuthName Mercurial

# for Redmine Authentication
    RedmineDSN "DBI:mysql:database=alminium;host={{groups['database'][0]}}"
    RedmineDbUser "{{dbuser}}"
    RedmineDbPass "{{dbpasswd}}"

    Require valid-user
</Location>
